<!-- Header -->
<header class="main-header">
  <!-- Logo -->
  <a href="dashboard.html" class="logo">
    <span class="logo-mini"><b>G</b>ST</span>
    <span class="logo-lg"><b>Gastro</b>Admin</span>
  </a>
  
  <nav class="navbar navbar-static-top">
    <a href="#" class="sidebar-toggle" data-toggle="push-menu">
      <span class="sr-only">Toggle navigation</span>
    </a>
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <li class="dropdown user user-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <img src="Admin/dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
            <span class="hidden-xs">Alexander Pierce</span>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>
