<!-- Sidebar -->
<aside class="main-sidebar">
  <section class="sidebar">
    <div class="user-panel">
      <div class="pull-left image">
        <img src="./Admin/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
      </div>
      <div class="pull-left info">
        <p>Alexander Pierce</p>
        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
      </div>
    </div>

    <ul class="sidebar-menu">
      <li class="header">MENÚ PRINCIPAL</li>
      <li><a href="dashboard.html"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
      <li><a href="usuarios.html"><i class="fa fa-users"></i> <span>Usuarios</span></a></li>
      <li><a href="productos.html"><i class="fa fa-cutlery"></i> <span>Productos</span></a></li>
      <li><a href="pedidos.html"><i class="fa fa-shopping-cart"></i> <span>Pedidos</span></a></li>
      <li><a href="#"><i class="fa fa-cog"></i> <span>Configuración</span></a></li>
    </ul>
  </section>
</aside>